

body{
  max-width: 700px;
  margin: 0 auto; /* Để căn giữa theo chiều ngang */
  box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng */
  position: relative; /* Để menu nằm ở đáy màn hình */
}


@media screen and (max-width: 700px) {
    body{
      max-width: none; /* Bỏ giới hạn độ rộng tối đa */
      height: 100vh;
      margin: 0 5px
  }
}